{% extends 'base_login.html' %}

{% block title %}🔒 Login {% endblock %}

{% block content %}
{% load static %}
   <link rel="stylesheet" href="{% static 'login_style.css' %}">
    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <h1>🔒 Iniciar sesión</h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Iniciar sesión">
    </form>
{% endblock %}