{% extends 'base.html' %}


{% block title %} Rooms {% endblock %}
{% block nav_title %} Rooms {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h1>Opciones y filtros</h1>
            <button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#createRoomModal">Crear Habitación</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div> <!-- Espacio en blanco izquierdo -->
        <div class="col-md-8">
            <h2 class="mt-4">Habitaciones</h2>
            <div class="table-responsive">
                <table class="table table-bordered w-100"> <!-- Clase w-100 para que la tabla ocupe todo el ancho -->
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Cama y Personas</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for habitacion in items %}
                        <tr>
                            <td>{{ habitacion.number }}</td>
                            <td>
                              {% if 'Vacio' in habitacion.status.name %} {{ habitacion.status.name }} ✅
                              {% elif 'Ocupado' in habitacion.status.name %} {{ habitacion.status.name }} ❌
                              {% elif 'Limpiar' in habitacion.status.name %} {{ habitacion.status.name }} 🧹
                              {% else %} {{ habitacion.status.name }}
                              {% endif %}
                            </td>
                            <td>{{ habitacion.types.name }}</td>  
                            <td>{{ habitacion.types.bed }} x {{ habitacion.types.person }}</td>
                            <td>{{ habitacion.notes }}</td>
                            <td>
                                <a href="{% url 'rooms_update' habitacion.id %}" room-id="{{ habitacion.id }}" room-number="{{ habitacion.cuarto }}" class="btn btn-sm btn-primary btn-update" role="button" aria-pressed="true" title="Editar">&#x270E;</a>
                                <a href="{% url 'rooms_delete' habitacion.id %}" room-id="{{ habitacion.id}}" room-number="{{ habitacion.cuarto }}" class="btn btn-sm btn-danger btn-delete" role="button" aria-pressed="true" title="Eliminar">&#x1F5D1;</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div> <!-- Espacio en blanco derecho -->
    </div>
</div>

<!-- Modal de Crear Habitación -->
<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createRoomModalLabel">Crear Habitación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script>
  document.addEventListener('DOMContentLoaded', function(){
    $('#createRoomModal').on('show.bs.modal', function (event) {
      // Aquí puedes realizar cualquier manipulación adicional del modal antes de que se muestre
    });
  });
</script>

<script>
document.addEventListener('DOMContentLoaded', function(){

    // Manejo del Boton Eliminar
    const confirmDelete = document.querySelectorAll('.btn-delete');
    confirmDelete.forEach(button => {
        button.addEventListener('click', function(event) {
            const roomNumber = this.getAttribute('room-number');
            const roomId = this.getAttribute('room-id');
            
            const confirmation = confirm(`¿Estás seguro de que deseas eliminar la habitación número ${roomNumber}?`);
            
            if (confirmation) {
                alert(`Habitación ${roomNumber} eliminada`);
            }else{
                event.preventDefault(); 
            }
        });
    })
})
</script>

<label for="statusFilter">Filtrar por Estado:</label>
<select class="form-control" id="statusFilter" onchange="filterRoomsByStatus()">
    <option value="">Todos los estados</option>
    <option value="Vacio">Vacías</option>
    <option value="Limpiar">Limpias</option>
    <option value="Ocupado">Ocupadas</option>
</select>

<label for="typeFilter">Filtrar por Tipo:</label>
<select class="form-control mt-2" id="typeFilter" onchange="filterRoomsByType()">
    <option value="">Todos los tipos</option>
    {% for type in types %}
        <option value="{{ type.id }}">{{ type.name }}</option>
    {% endfor %}
</select>
<script>
    function filterRoomsByStatus() {
        var status = document.getElementById('statusFilter').value;
        var url = "{% url 'rooms' %}?";

        if (status) {
            url += "status=" + status;
        }

        window.location.href = url;
    }

    function filterRoomsByType() {
        var type = document.getElementById('typeFilter').value;
        var url = "{% url 'rooms' %}?";

        if (type) {
            url += "type=" + type;
        }

        window.location.href = url;
    }
</script>
{% endblock %}