{% extends 'base.html' %}

{% block title %} Rooms {% endblock %}
{% block nav_title %} Rooms {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
            <h1>Opciones y filtros</h1>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
               <label for="statusFilter">Filtrar por Estado:</label>
                <select class="form-control" id="statusFilter" onchange="filterRoomsByStatus()">
                    <option value="">Todos los estados</option>
                    <option value="Vacio">Vacías</option>
                    <option value="Limpiar">Limpias</option>
                    <option value="Ocupado">Ocupadas</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="typeFilter">Filtrar por Tipo:</label>
                <select class="form-control" id="typeFilter" onchange="filterRoomsByType()">
                    <option value="">Todos los tipos</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-4">
                <button class="btn btn-secondary ml-2" onclick="clearFilters()">Limpiar Filtros</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createRoomModal">Crear Habitación</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Aquí va la tabla de habitaciones -->
            <div class="table-responsive">
                <table class="table table-bordered w-100">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Cama y Personas</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for habitacion in items %}
                        <tr>
                            <td>{{ habitacion.number }}</td>
                            <td>
                              {% if 'Vacio' in habitacion.status.name %} {{ habitacion.status.name }} ✅
                              {% elif 'Ocupado' in habitacion.status.name %} {{ habitacion.status.name }} ❌
                              {% elif 'Limpiar' in habitacion.status.name %} {{ habitacion.status.name }} 🧹
                              {% else %} {{ habitacion.status.name }}
                              {% endif %}
                            </td>
                            <td>{{ habitacion.types.name }}</td>  
                            <td>{{ habitacion.types.bed }} x {{ habitacion.types.person }}</td>
                            <td>{{ habitacion.notes }}</td>
                            <td>
                                <a href="{% url 'rooms_update' habitacion.id %}" room-id="{{ habitacion.id }}" room-number="{{ habitacion.cuarto }}" class="btn btn-sm btn-primary btn-update" role="button" aria-pressed="true" title="Editar">&#x270E;</a>
                                <a href="{% url 'rooms_delete' habitacion.id %}" room-id="{{ habitacion.id}}" room-number="{{ habitacion.cuarto }}" class="btn btn-sm btn-danger btn-delete" role="button" aria-pressed="true" title="Eliminar">&#x1F5D1;</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Crear Habitación -->
<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createRoomModalLabel">Crear Habitación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script>
    function filterRoomsByStatus() {
        var status = document.getElementById('statusFilter').value;
        var url = "{% url 'rooms' %}?";

        if (status) {
            url += "status=" + status;
        }

        window.location.href = url;
    }

    function filterRoomsByType() {
        var type = document.getElementById('typeFilter').value;
        var url = "{% url 'rooms' %}?";

        if (type) {
            url += "type=" + type;
        }

        window.location.href = url;
    }

    function clearFilters() {
        window.location.href = "{% url 'rooms' %}";
    }
</script>
{% endblock %}